<h2>Reactive Switches</h2>


<hr>

<form [formGroup]="miFormulario" (ngSubmit)="guardar()">
    <!--Radios-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Genero</label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" type="radio" value="M" formControlName="genero" id="flexRadioDefault1">
                <label class="form-check-label" for="flexRadioDefault1">
                  Masculino
            </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" value="F" formControlName="genero" id="flexRadioDefault2">
                <label class="form-check-label" for="flexRadioDefault2">
              Femenino
            </label>
            </div>

        </div>
    </div>

    <!--Switch-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Notificaciones</label>
        <div class="col-sm-9">
            <div class="form-check form-switch">
                <input class="form-check-input" formControlName="notificaciones" type="checkbox" id="flexSwitchCheckChecked">
                <label class="form-check-label" for="flexSwitchCheckChecked">Quiero recibir notificaciones</label>
            </div>
        </div>
    </div>

    <!--Check-->
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label"></label>
        <div class="col-sm-9">

            <div class="form-check">
                <input class="form-check-input" formControlName="condiciones" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
              Terminos y condiciones
            </label>
            </div>
        </div>
    </div>

    <!--Button-->

    <div class="row">
        <div class="col">
            <button class="btn btn-primary">Guardar</button>
        </div>
    </div>


</form>


<h4>Valor Formulario</h4>

<pre>{{miFormulario.value|json}}</pre>

<br>

<h5>Valid:</h5>
<pre>{{miFormulario.valid}}</pre>

<h5>Persona:</h5>
<pre>{{persona|json}}</pre>

<h5>Condiciones:</h5>
<pre></pre>